body {
  background: #212c37;
  overflow-y: scroll;
  margin: 0 !important;
  padding: 0;
  //font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
  //'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
  //sans-serif;
  font-family: 'Montserrat', sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  -webkit-user-select: text;
}

#root {
  height: 100%;
  width: 100%;
  font-weight: 300;
}

.header-page {
  header {
    background: #1b2d3c;
    background-size: 200% 100%;
    background-image: linear-gradient(to right, #234a71 0%, #101519 51%, #151d25 100%);
  }
}

.border-radius-6px {
  border-radius: 6px
}

.container-page {
  background: #151d25;
  margin-top: 64px;
  min-height: calc(100vh - 64px);
  .movies-list {
    .group-filter {
      display: inline-grid;
    }
  }
  .no-found {
    width: 100%;
    text-align: center;
    color: white;
    position: fixed;
    top: 40%;
    right: 0;
  }
  //MuiButtonBase-root
  ul .MuiPaginationItem-root {
    color: white !important;
    //border: solid 1px white!important;
  }

  [button].MuiPaginationItem-root {
    color: white !important;
    //border: solid 1px white!important;
  }

  .MuiPagination-root .Mui-selected {
    background-color: #ffc107 !important;
  }
}

.card-movie {
  &:hover {
    box-shadow: 0 0 2px 2px #e6920e85 !important;
  }
  .MuiCard-root {
    background: #202a34;
    .MuiCardMedia-root {
      object-fit: unset
    }
  }
  .title {
    font-size: 1rem;
    color: #e6920e;
    overflow: hidden;
    display: -webkit-box;
    -webkit-line-clamp: 1;
    -webkit-box-fle: 1;
    -webkit-box-orient: vertical
  }
  .year {
    color: #8a9eaf;
    font-size: 0.8rem;
  }
  .type {
    font-size: 0.8rem;
    width: auto;
    position: absolute;
    padding: 4px;
    color: white;
    display: revert;
    right: 0;
    border: 1px solid #1b2a3900;
    background-size: 200% 100%;
    background-image: linear-gradient(to right, #ff00cc 0%, #333399 51%, #ff00cc 100%);
  }
}

.movie-page {
  p {
    margin-bottom: 0;
    color: #cacaca;
    display: flex;
    align-items: center;

    .title {
      display: contents;
      color: #afafaf;
      font-size: 14px;
      padding: 5px 0;
    }
    .content {
      font-size: 14px;
      color: #82b0da;
      margin-left: 3px;
    }
  }

  .MuiTabs-indicator {
    background-color: #e6920e
  }

  .MuiRating-root .MuiRating-iconEmpty {
    color: #faaf007a
  }

}

@media only screen and (max-width: 600px) {
  .container-page {
    margin-top: 56px;
    min-height: calc(100vh - 80px);
  }
}